[include]
    path = ~/.gitconfig.local
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = false
    filemode = false
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[user]
	email = me@protonmail.com
	name = Pau Tena
